
html,body{
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    -o-user-select: text;
    user-select: text;
}
.unselection{
    /*-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;   
    -o-user-select: none;
    user-select: none;*/
}
h4{
    font-size: 16px;
}
a{
    cursor: pointer;
}
#app{
    background: url("../images/background/background.jpg") 50% / cover fixed;
}
.header::before{
    /*background-color: #fff;*/
    background: url("../images/background/background.jpg") 50% / cover fixed;
    background-attachment: inherit;
    opacity: 0.4;
}
.sidebar::before{
	background: url("../images/background/background.jpg") 50% / cover fixed;
    background-attachment: inherit;
}
/*.dropdown-menu::before,li.menu ul::before{
    background: url("../images/background/background.jpg") 0 10% / cover fixed;
    background-attachment: inherit;
    z-index: -1!important;
}*/
.dropdown-menu{
    border-radius: 1px;
}
.background-select img{
    width:150px;
    margin: 5px 18px;
    border: 1px solid #aaa;
}
.background-select .selected{
    background-color: #217DEB;
}
.background-select .selected:before{
    position: absolute;
    width:100%;
    height: 100%;
}
/**
 * 整个页面
 */
#app{
	width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 1s;
    -moz-transition: background 1s; 
    -webkit-transition: background 1s; 
    -o-transition: background 1s;
}
/**
 * 头
 */
.header{
    background-color: #fff;
    height: 35px;
    position: relative;
    /*overflow: hidden;*/
}
.header .user-logo{
    width:70px;
    height:35px;
    float:left;
    margin-top: 0px;
    padding:0 15px;
    border-right:1px solid #111;
}
.header>.user-logo>i{
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 40px;
    color: #666;
    text-align: center;
}
.header .header-menu{
    width:100%;
    padding-left:70px;
    height: 100%;
}
.header .header-menu{
    padding:0px 15px;
    height:35px;
}
.header .header-menu .left-menu{
    float: left;
}
.header .header-menu .btn-group,.header .header-menu .input-group{
    float: left;
    padding: 0 5px;
    display: inline-flex;
}
.header .header-menu .right-menu{
    float:right;
}
.header .header-menu button{
    margin-top: -2px;
}
.header .header-menu .input-group-addon,.header .header-menu button{
    background-color: transparent!important;
    border:none!important;
    padding:10px;
}
.header .header-menu .btn-group.open{
    background-color: rgb(33,125,235);
}
.header .header-menu .btn-group.open .dropdown-toggle{
    -webkit-box-shadow:none;
    box-shadow: none;
    background-color: rgb(33,125,235)!important;
    color:#fff;
    /*color:blue;*/
}
.dropdown-menu li > a {
    color: #000;
    line-height: 25px;
    padding: 0px 20px;
    display: inline-block;
    width: 100%;
}
li.menu ul{
    background: #fafafa;
    border-radius: 1px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: inset 0px 1px 2px #fff;
    position: absolute;
    top: 0%;
    left: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
li.menu:hover ul{
    display: block;
}

li.menu i {
    float: right;
    margin: 5px 0 0 0;
}
.hundred{
    /*width:100%;*/
}
/**
 * 底部dock
 */
.dock-outer{
	/*position: fixed;
    border-radius: 10px 10px 5px 5px;
    padding: 10px 0 10px 0;
    overflow: hidden;
    padding-top:30px;
    background: #ddd;
    left: 50%;
    height: 70px;
    bottom: 0;
    z-index: 20;
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);*/
    position: fixed;
    border-radius: 10px 10px 5px 5px;
    padding: 10px 0 10px 0;
    /*padding-top: 30px;*/
    background: #ddd;
    height: 70px;
    width: auto;
    bottom: 0;
    z-index: 20;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}
.dock-outer ul{
	list-style:none;
	position: relative;
    padding: 0 15px;
}
.dock-outer ul>li{
	/*transition: all 0.2s;
-moz-transition: all 0.2s; 
-webkit-transition: all 0.2s; 
-o-transition: all 0.2s;*/
	width: 40px;
	height:40px;
	border-radius: 5px;
	/*background-color:rgba(255,255,255,0.4);*/
	/*float: left;*/
	margin-left: 5px;
    margin-right: 5px;
    float:left;
    text-align: center;
}
li.desk-mini {
    /*margin-top: -20px!important;*/
        /*transition: all 0.3s;
    -moz-transition: all 0.3s; 
    -webkit-transition: all 0.3s; 
    -o-transition: all 0.3s;*/
}
li.v-cut-line {
    margin-top: 0px!important;
    width: 2px!important;
    margin-left: 10px!important;
    background-color: rgb(39,51,63);
}
li.desk-mini span {
    font-size: 10px;
    display: inline-block;
    position: absolute;
    margin: -4px -10px 0px -10px;
}
.dock-outer ul>li img{
    width:100%;
    height:100%;
}
/*.sidebar ul>li:hover{
	margin:15px 0 15px 0;
	transform:scale(1.3,1.3);
-ms-transform:scale(1.3,1.3); 	
-moz-transform:scale(1.3,1.3); 	
-webkit-transform:scale(1.3,1.3); 
-o-transform:scale(1.3,1.3);
}*/
.dock-outer blockquote{
	border-left: none;
	z-index: 100;
}
.header::before,.sidebar::before{
	content: '';
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    z-index: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-filter: blur(60px);
    filter: blur(20px);
    margin: -30px;
}
.centerd{
    display: inline-block;
    width:100%;
}
/**
 * 左右点击
 */
.arrows .arrows_left{
    border-radius: 5px;
    display: none;
    width: 20px;
    color: #555;
    font-size: 25px;
    background: rgba(0,0,0,0.2);
    height: 60%;
    position: absolute;
    left: 10px;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.arrows .arrows_right{
    border-radius: 5px;
    display: none;
    width: 20px;
   background: rgba(0,0,0,0.2);
    height: 60%;
    color: #555;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.arrows .arrows_left i{
    position: absolute;
    top: 50%;
    left: -3px;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
.arrows .arrows_right i{
    position: absolute;
    top: 50%;
    right: -3px;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
/*.arrows_right:hover,.arrows_left:hover{
    opacity: 0.3;
}*/
/**
 * 多个主页面
 */
.containers{
    position: absolute;
    top: 48px;
    left: 10px;
    z-index: 0;
    right: 10px;
    bottom: 60px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.3);
}
.containers .container_items{
    height:100%;
    width: 400%;
    transition: all 0.3s;
-moz-transition: all 0.3s; 
-webkit-transition: all 0.3s; 
-o-transition: all 0.3s;
}
.containers .container_item{
    width: 25%;
    height:100%;
    padding: 10px;
    float:left;
}
.container_item .app{
    width:90px;
    height:90px;
    float:left;
    margin:10px 10px;
    /*background: rgba(255,255,255,0.4);*/
    border-radius: 10px;
    text-align: center;
        transition: all 0.3s;
    -moz-transition: all 0.3s; 
    -webkit-transition: all 0.3s; 
    -o-transition: all 0.3s;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}
.container_item .app:hover{
    background: rgba(255,255,255,0.4);
}
.container_item .app img{
    width:90%;
    height:90%;
    margin:5%;
}
.container_item .app span{
    display: block;
    width: 80%;
    margin: -10px auto;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    color: rgba(255,255,255,0.7);
}
.add-app img{
    width:80%!important;
    height: 80%!important;
    margin:10%!important;
}
#app .bottom_tip{
    position: fixed;
    left: 50%;
    height: 10px;
    top: 40px;
    padding: 15px;
    z-index: 30;
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
.bottom_tip .ci_item{
    width: 25px;
    margin: 0 5px;
    background: rgba(0,0,0,0.3);
    float: left;
    height: 7px;
    cursor: pointer;
    border-radius: 4px;
}
.ci_item.current_con{
    background-color: #111;
}
.bottom_tip .ci_item::before{
    position: absolute;
    top: 0;left:0;right: 0;bottom: 0;
    margin:-10px;
}
/**
 * 弹出框
 */
.modal{
  position: static;
  height:auto!important;
  width:auto!important;
  overflow: visible!important;
    transition: display 1.2s;
  -moz-transition: display 1.2s; 
  -webkit-transition: display 1.2s; 
  -o-transition: display 1.2s;
}
.modal-dialog{
      transition: display 1.2s;
    -moz-transition: display 1.2s; 
    -webkit-transition: display 1.2s; 
    -o-transition: display 1.2s;
}
.modal.maxin .modal-dialog{
    animation:maxin 0.5s 1;
    -webkit-animation:maxin 0.5s 1;
}
.modal.maxout .modal-dialog{
    animation:maxout 0.5s 1;
    -webkit-animation:maxout 0.5s 1;
}
@keyframes maxin {
  0% {
      transform: scale(0.2);
      -moz-transform: scale(0.2);
      -webkit-transform:scale(0.2); /* Safari and Chrome */
      -o-transform:scale(0.2);
      top: 80%;
      display: none;
  }
 /* 25% {
      transform: scale(0.35);
      -moz-transform: scale(0.35);
      -webkit-transform:scale(0.35); 
      -o-transform:scale(0.35);
      top: 75%;
  }
  50% {
        transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform:scale(0.5); 
      -o-transform:scale(0.5);
      top:50%;
  }*/
  /*75% {
      transform: scale(0.75);
      -moz-transform: scale(0.75);
      -webkit-transform:scale(0.75); 
      -o-transform:scale(0.75);
      top:25%;  
  }*/
  100% {
    transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform:scale(1); /* Safari and Chrome */
      -o-transform:scale(1);
      top:10%;
  }
}
@keyframes maxout {
  0% {
      transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform:scale(1); 
      -o-transform:scale(1);
      top:20%;
  }
  50% {
      transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform:scale(0.5); 
      -o-transform:scale(0.5);
      top:50%;
  }
  100% {
      transform: scale(0.2);
      -moz-transform: scale(0.2);
      -webkit-transform:scale(0.2); 
      -o-transform:scale(0.2);
      top: 100%;
      display: none;
  }
}
.flop{
    animation:runout 1s 1;
    -webkit-animation:runout 1s 1;
}
@keyframes runout{
    0% {
      margin-top:-20px;
    }
    25%{
        margin-top: -39px;
    }
    50%{
        margin-top:0px;
    }
    75% {
      margin-top:-30px;
    }
    100% {
      margin-top: 0px;
    }
}
.modal-dialog{
    position: absolute;
}
.maxty .modal-content{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    /*border: 4px double #555;*/
    bottom: 0px;
    width:auto!important;
    height:auto!important;
}
.maxty{
    left: 0px!important;
    top: 0px!important;
    z-index: 2000;
    position: fixed!important;
    width: 100%!important;
    height:100%!important;
    right: 0px!important;
    bottom: 0px!important;
    margin:0!important;
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    -moz-transform: translate3d(0px, 0px, 0px) !important;
    -ms-transform:translate3d(0px, 0px, 0px) !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.Moving{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;   
}
.Moving .modal-dialog{
    transition: none!important;
    -moz-transition: none!important; 
    -webkit-transition: none!important; 
    -o-transition: none!important;
}
.modal-open{
  overflow: auto;
  padding-right:0px!important;
}
.modal-backdrop{
  position:relative;
  background-color:transparent;
}
.modal-header {
    padding: 5px 15px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=rgb(243,243,239),endColorStr=rgb(227,227,227)); /*IE 6 7 8*/ 
    background: -ms-linear-gradient(top, rgb(243,243,239),  rgb(227,227,227));        /* IE 10 */
    background:-moz-linear-gradient(top,rgb(243,243,239),rgb(227,227,227));/*火狐*/ 
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgb(243,243,239)), to(rgb(227,227,227)));/*谷歌*/ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(243,243,239)), to(rgb(227,227,227)));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, rgb(243,243,239), rgb(227,227,227));   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, rgb(243,243,239), rgb(227,227,227)); 
}
.modal-content{
    background: rgb(243,243,243) url("../images/modal-back.png") repeat;
    padding-bottom:41px;
}
.modal-body{
    /*height:100%;*/
}
.modal-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.modal-content{
    border-radius: 3px;
}
.modal-btn{
    border-radius: 9px;
    font-size: xx-small;
    border: none;
    background-color: transparent;
    width: 17px;
    height: 18px;
    text-align: center;
    padding: 0px 0px 0px 0px!important;
    color: #fff;
    float: right;
    margin: 2px 2px 0!important;
    outline: none;
    font-weight: lighter!important;
    outline: 0;
    transform: scale(0.95);
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
}
.modal-btn:hover,.modal-btn:focus{
    color:#000;
}
.modal-btn .glyphicon{
    top: 2px;
    left: 3px;
    position: absolute;
}
.modal-footer-resize{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.nofoot .modal-content{
    padding-bottom: 0!important;
}
.nofoot .modal-footer{
    display: none!important;
}
.btn{
   padding:2px 15px
}
.btn-success,.btn-primary{
    color: #fff;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=rgb(100,185,245),endColorStr=rgb(45,142,252))!important; /*IE 6 7 8*/ 
   background: -ms-linear-gradient(top, rgb(100,185,245),  rgb(45,142,252))!important;        /* IE 10 */
   background:-moz-linear-gradient(top,rgb(100,185,245),rgb(45,142,252))!important;/*火狐*/ 
   background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgb(100,185,245)), to(rgb(45,142,252)))!important;/*谷歌*/ 
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(100,185,245)), to(rgb(45,142,252)))!important;      /* Safari 4-5, Chrome 1-9*/
   background: -webkit-linear-gradient(top, rgb(100,185,245), rgb(45,142,252))!important;   /*Safari5.1 Chrome 10+*/
   background: -o-linear-gradient(top, rgb(100,185,245), rgb(45,142,252))!important;
   border-color: rgb(33,125,235)!important;
}
.btn-success:hover,.btn-primary:hover{
    border-color: rgb(33,125,235)!important;
    background: rgb(33,125,235)!important;
}
.form-control{
    height: 25px;
    padding: 2px 12px;
}
.form-control:focus{
    border:1px solid rgb(100,185,245);
}
.minify{
    background-color: rgb(254,191,49);
}
.maxify{
    background-color: rgb(54,205,64);
}
.modal-header .close{
    background-color: rgb(253,89,89)!important;
    opacity: 1!important;
}
.alert{
    background-color: rgba(1,1,1,0.8)!important;
    border-color: rgb(1,1,1)!important;
    color:rgba(255,255,255,0.8);
    margin-right: -30px;
    margin-top: 15px;
    z-index: 2500!important;
}
.alert.alert-success .glyphicon{
    color:rgb(54,205,64);
}
.alert.alert-danger .glyphicon{
    color:rgb(253,89,89);
}
.alert.alert-info .glyphicon{
    color:rgb(213,213,213);
}
.alert.alert-warning .glyphicon{
    color:rgb(254,191,49);
}
.alert .close{
    color:#fff;
    opacity: 0.6;
}
modal{
    display: none;
}
.heng{
    position:absolute;bottom:-3px;width:100%;height:5px;cursor:ns-resize;
}
.shu{
    position:absolute;right:-3px;top:0;height:100%;width:5px;cursor:ew-resize;
}
.youxiajiao{
    position:absolute;right:-3px;bottom:-3px;width:10px;height:10px;cursor:nwse-resize
}
.v-cut-line{

}
.hundrd{
    width: 100%;
}
.hundrd .btn{
    width:100%;
}
.hundrd .dropdown-menu{
    width:100%;
}
.search-addon{
    padding: 5px 12px;
    background-color: transparent;
    border-radius: 20px;
}
.search-input{
    border-left: none;
    border-radius: 20px;
}
.table {
    font-size: 12px;
}
